.page{
    &-wind{
        &-title{
            font-size: 16px;
            color: gray;
            margin-bottom: 30px;
        }
        &-data{
            display: flex;
            align-items: baseline;
            margin-bottom: 30px;
        }
        &-status{
            font-size: 16px;
        }
        &-speed{
            font-size: 30px;
            & > span{
                font-size: 16px;
            }
        }
    }
}