@font-face {
    font-family: Monseratt;
    src: url('./fonts/static/Montserrat-Light.ttf');
    font-weight: 200;
    font-style: normal;
}
@font-face {
    font-family: Monseratt;
    src: url('./fonts/static/Montserrat-Bold.ttf');
    font-weight: 700;
}
@font-face {
    font-family: Monseratt;
    src: url('./fonts/static/Montserrat-Medium.ttf');
    font-weight: 500;
}